[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
black = "*"
numpy = "*"
project-euler = {editable = true, path = "."}
pytest = "*"
pytest-mock = "*"

[dev-packages]
black = "*"

[requires]
python_version = "3.10"

[scripts]
test = "pytest"

[pipenv]
allow_prereleases = true
